services:
  api:
    image: pyapi:latest
    build: .
    container_name: pyapi-api
    restart: unless-stopped
    command:
      - "sh"
      - "-c"
      - "uvicorn pyapi.main.api:create_app --factory --host $${API_HOST} --port $${API_PORT}"
    ports:
      - "8000:8000"
    networks:
      - pyapi-network
    env_file:
      - env/api.env

  postgres_migration:
    image: pyapi:latest
    build: .
    container_name: pyapi-postgres-migration
    command: alembic upgrade head
    networks:
      - pyapi-network
    env_file:
      - env/api.env

  postgres:
    image: postgres:18-alpine
    container_name: pyapi-postgres
    hostname: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    networks:
      - pyapi-network
    volumes:
      - pyapi-postgres-data:/var/lib/postgresql/data:rw
    env_file: env/postgres.env

volumes:
  pyapi-postgres-data:
    name: pyapi-postgres-data

networks:
  pyapi-network:
    name: pyapi-network
